<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa</title>
</head>
<body>
    <h1>requirements.txt</h1>
    <h2>O arquivo requirements.txt serve para listar todas as bibliotecas (dependências) que o seu projeto Python precisa para funcionar.</h2>
    <h2>Ele é como uma receita de bolo do seu ambiente virtual — mostra tudo o que precisa ser instalado para reproduzir o mesmo ambiente em outro computador.</h2>
    <h1>Como criar um requirements.txt</h1>
    <h2>
        No terminal:<br>
        pip freeze > requirements.txt
    </h2>
    <h1>requirements.txt</h1>
    <h1>Normalmente ele fica na raiz do projeto, junto com o manage.py</h1>
</body>
</html>
